body{
	background: #333333;
}
h2, li, input, p{
	font-family: "Arial Black", Gadget, sans-serif
}
a{
	color: black;
}
a:hover{
	text-decoration: none;
}
nav h2{
	font-size: 180%;
}
.navList{
	list-style-type: none;
   	display: flex;
   	justify-content: flex-start;
    top: 0;
    width: 100%;
    color: black;
    z-index: 1;
    margin-bottom: 5%;
    background-color: #f2f2f2;
	/*background-color: #f9f9f9;*/
/*	border-bottom: 1px solid black;*/
}	
.navPosition{
	position: relative;
}
#contact{
	left: 70%;
}
#howTo{
	left: 60%; 	
}
span{
	color: #3333ff;
}
#btn{
	background-color: #3333ff;
	color: white;
	border-radius: 5px;
}
.text{
	border-radius: 5px;
}
.howTo{
	list-style-type: none;
	text-align: center;
}
#howToHeader{
	text-align: center;
}
#container{
	width: 700px;
	margin: 0 auto;
	position: relative;
}
#chatWindow{
	height: 525px;
	overflow-y: auto;
}
#mainWrapper{
	display: none;
	margin-top: -7%;
}
#chatWrapper{
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f2f2f2;
	padding: 10px;
	width: 90%;
	position: absolute;
	margin-top: 2%;
	right: 0%;
}
#userWrapper{
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f2f2f2;
	padding: 10px;
	width: 30%;
	max-height: 400px;
	position: absolute;
	margin-top: 2%;
	left: -40%;
}
#namesWrapper{
	float: left;
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f2f2f2;
	padding: 10px;
	margin: 20% 25%;
}
#messageForm input.text{
	width: 88%;

}
input{
	height: 30px;
	border: solid 1px #ccc;
}
.footer-fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.footer {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
	margin: 0;    
	width: 100%;
    color: black;
    z-index: 1;
    position: relative;
    padding: 2%;   
}
.footerSize {
	position: absolute;
    width: 4%;
    bottom: 22%;
}
#gh{
	left: 35%;
}
#li{
	left: 60%;
}
@media only screen and (max-width: 768px) {
	.navList h2{
		font-size: 150%;
	}
	#contact{
		left: 55%;
	}
	#howTo{
		left: 45%; 	
	}
	#chatWindow{
		height: 470px;
	}
	#chatWrapper{
		width: 80%;
		margin-top: 9%;
		right: 0%;
	}
	#userWrapper{
		 margin-top: 9%;
		 left: -1%;
		 width: 16%;
	}
	#messageForm input {
		max-width: 455px;
	}
	.footerSize{
		width: 5%;
	}
	#gh{
		left: 27%;
	}
	#li{
		left: 68%;
	}
}
@media only screen and (max-width: 375px) {
	.navList h2{
		font-size: 15px;
		margin: 10px;
	}
  	#contact{
		left: 25%;
	}
	#howTo{
		left: 15%; 	
	}
	#namesWrapper{
		padding: 10px;
		margin: 20% 2%;
	}
	#chatWindow{
		height: 500px;
	}
	#chatWrapper{
		width: 36%;
		margin-top: 10%;
		right: 50%;
	}
	#userWrapper{
		 margin-top: 10%;
		 left: 1%;
		 width: 10%;
	}
	#messageForm input {
		max-width: 155px;
	}
	.footer p{
		font-size: 12px;
		margin-bottom: 0;
	}
	.footerSize{
		width: 6%;
	}
	#gh{
		left: 12%;
	}
	#li{
		left: 80%;
	}
}